html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */

}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

#toggle-nav {
  display: none;
  position: fixed;
  z-index: 10;
  padding: 8px 5% 8px 10%;
  width: 85%;
  font-family: 'Arial', sans-serif;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100% #262626));
  background-image: -webkit-linear-gradient(top, #404040 0%, #262626 100%);
  background-image: -moz-linear-gradient(top, #404040 0%, #262626 100%);
  background-image: -ms-linear-gradient(top, #404040 0%, #262626 100%);
  background-image: -o-linear-gradient(top, #404040 0%, #262626 100%);
  background-image: linear-gradient(top, #404040 0%, #262626 100%);
  cursor: pointer;
}
#toggle-nav:hover {
  text-decoration: none;
  background-color: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(100% #333333));
  background-image: -webkit-linear-gradient(top, #4d4d4d 0%, #333333 100%);
  background-image: -moz-linear-gradient(top, #4d4d4d 0%, #333333 100%);
  background-image: -ms-linear-gradient(top, #4d4d4d 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #4d4d4d 0%, #333333 100%);
  background-image: linear-gradient(top, #4d4d4d 0%, #333333 100%);
}
#toggle-nav:before {
  content: "";
  position: absolute;
  left: 3%;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
  border-left: 10px solid #fff;
}
#toggle-nav.open:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: none;
}
#nav-wrap {
  max-width: 100%;
}
#content-wrap {
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* Primary-Nav
   ========================================================================== */
#primary-nav {
  position: absolute;
  top: 55px;
  z-index: 1;
  width: 100%;
  font-size: 1.28571428571429em;
  color: #324d65;
  font-family: 'Arial', sans-serif;
}
#primary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
#primary-nav li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
#primary-nav li:first-child {
  margin-left: 0;
}
.lt-ie8 #primary-nav li {
  zoom: 1;
  *display: inline;
}
#primary-nav a {
  display: block;
  padding: 5px 5px 21px;
  color: #324d65;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  text-decoration: none;
}
.lt-ie8 #primary-nav a {
  display: inline;
}
#primary-nav a:hover,
.lt-ie8 #primary-nav a:hover {
  color: #b59101;
  text-decoration: none;
}
#primary-nav li.active > a {
  color: #b59101;
}
#primary-nav ul ul {
  position: absolute;
  left: -9999em;
  top: 100%;
  padding: 10px 0;
  width: 220px;
  font-size: 0.7777777777777778em;
  text-align: left;
  background-color: #324d65;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #436787), color-stop(100% #324d65));
  background-image: -webkit-linear-gradient(top, #436787 0%, #324d65 100%);
  background-image: -moz-linear-gradient(top, #436787 0%, #324d65 100%);
  background-image: -ms-linear-gradient(top, #436787 0%, #324d65 100%);
  background-image: -o-linear-gradient(top, #436787 0%, #324d65 100%);
  background-image: linear-gradient(top, #436787 0%, #324d65 100%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #436787;
}
#primary-nav ul ul li,
.lt-ie8 #primary-nav ul ul li {
  display: block;
  margin: 0;
}
#primary-nav ul ul a,
.lt-ie8 #primary-nav ul ul a {
  display: block;
  padding: .5em 1em;
  line-height: 1em;
  color: #fff;
}
#primary-nav li:hover ul {
  left: 0;
}
@media screen and (max-width: 1024px) {
  #primary-nav {
    font-size: 1.14285714285714em;
  }
  #primary-nav li {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* Slider
     ========================================================================== */
  html {
    overflow: hidden;
  }
  body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: #333;
    overflow: hidden;
  }
  #nav-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  #content-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: left 0.25s;
    -moz-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
  }
  #content-wrap.open {
    left: 80%;
    overflow: hidden;
  }
  #toggle-nav {
    display: block;
  }
  /* Primary-Nav
     ========================================================================== */
  #primary-nav {
    position: static;
    padding-top: 41px;
  }
  #primary-nav .container {
    padding: 0;
  }
  #primary-nav ul {
    text-align: left;
    border-bottom: 1px solid #404040;
  }
  #primary-nav li {
    display: block;
    margin: 0;
    width: 83%;
    font-size: 1.3125em;
    border-bottom: 1px solid #262626;
    border-top: 1px solid #404040;
  }
  #primary-nav li:first-child {
    border-top: none;
  }
  .lt-ie8 #primary-nav li {
    display: block;
  }
  #primary-nav a {
    padding: 10px 20px;
    color: #fff;
  }
  #primary-nav a:active {
    background: #404040;
  }
  #primary-nav ul ul {
    position: static;
    padding: 0;
    width: 100%;
    font-size: 11px;
    border: none;
    border-top: 2px solid #262626;
    background: none;
    -webkit-box-shadow: 0 0 0 0 #000000;
    -moz-box-shadow: 0 0 0 0 #000000;
    box-shadow: 0 0 0 0 #000000;
  }
  #primary-nav ul ul li {
    width: 100%;
    border-bottom: 1px solid #333;
    border-top: 1px solid #525252;
  }
  #primary-nav ul ul a {
    padding: 10px 20px 10px 35px;
    background: #454545;
  }
  #primary-nav ul ul a:active {
    background: #333;
  }
  #primary-nav ul ul a:before {
    content: "-";
    margin-right: 5px;
    margin-left: -15px;
  }
}